* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

:root {
    display: flex;
    height: -webkit-fill-available;
    background: linear-gradient(90deg, rgba(0,255,192,1) 0%, rgba(0,212,255,1) 100%);
    justify-content: center;
    align-items: center;
}

html {
    display: flex;
}

label {
    display: block;
    margin: 1vh 2vh;
    color: gray;
}

input {
    margin: 1vh 2vh;
    padding: 1px 2px;
    border: 1px solid gray;
    border-radius: 0.5vh;
    background-color: lightgray;
}

input[type=checkbox]::before {
    background-color: blue;
}

input:focus {
    outline: none;
    border: 0.1vh solid gray;
    border-radius: 0.5vh;
    box-shadow: 0 0 1vh blue;
}

button {
    margin: 1px 2vh;
    padding: 0.5vh;
    width: fit-content;
    border: 1px solid darkblue;
    background-color: blue;
    color: white;
    border-radius: 5px;
}

hr {
    margin: 1vh 1vh;
    color: gray;
}

div#card {
    width: 50vh;
    display: flex;
    flex-direction: column;
    background-color: lightgray;
    border: 1px solid gray;
    border-radius: 7px;
    background: linear-gradient(90deg, rgba(0,212,255,1) 0%, rgba(0,255,192,1) 100%);
}

div#buttons {
    display: flex;
    justify-content: center;
}